@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-VariableFont_wght.ttf') format('truetype'); /* Passe den Pfad zur Datei entsprechend an */


body {
  font-family: "Montserrat", sans-serif;
  color: blue;
}

.p {
  font-family: "Montserrat", sans-serif;
  color: aqua;
}
    

.h1 {
  font-family: "Montserrat", sans-serif;
}

.h2 {
  color: hsl(0, 0%, 0%);
  margin-left: 20px;
}
